.contactUs {
  color: #16144c;
  background-color: #bbbbcb;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  text-align: center;
}

.contactCenter,
.contactFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  color: #fff;
  background-color: transparent;
  padding: 20px;
  text-align: center;
}

.form form {
  width: 100%;
}

.contactFlex {
  height: 700px;
  gap: 60px;
  margin-left: -120px;
}

.bck {
  position: absolute;
  display: flex;
  justify-self: center;

  align-self: center;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 60%;
  height: 600px;
  border-radius: 30px;
  background-color: #16144c;
  margin-top: 130px;

  z-index: -1;
}

.contactFlex div {
  flex: 1;

  border-radius: 20px;
}

.contactImg {
  width: 100%;
  margin-top: 4em;
}

.contactImg img {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  width: 100%;

  border-style: none;
  border-radius: 4px;
  margin-bottom: 25px;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.form input {
  height: 40px;
  padding-left: 10px;
}

.form input:focus,
.form textarea {
  border-color: 3px solid #ab95fd;
  caret-color: #ab95fd;
  padding: 5px;
  padding-left: 15px;
  transition: all 1s ease;
}

.submitBtn {
  background-color: #d2d4e76b;

  color: #fff;

  border-style: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;

  margin-left: 75%;

  padding: 0 20px;
}

.contactInfo {
  display: flex;
  align-items: center;
  /* margin-bottom: 30px; */
}

.contactInfo img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.contactInfo p {
  font-size: 1.2em;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .contactFlex {
    flex-direction: column;
    gap: 30px;
    margin: 170px 0;
  }

  .contactUs,
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .contactFlex {
    margin-top: 200px;
  }
}

@media screen and (max-width: 650px) {
  .contactUs,
  .form {
    width: 90%;
  }
}
