.serviceBox {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 8em;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  width: 100%;
}

.service img {
  width: 100%;
  filter: drop-shadow(0 0 2.5rem #c4b5fd);
}

.content {
  width: 50%;
}

.reverse {
  flex-direction: row-reverse;
}

.serviceDescription {
  margin-bottom: 50px;
}

.serviceDescription h2 {
  text-transform: capitalize;
}

.serviceDescription p {
  opacity: 50%;
}

.servicePage {
  overflow: hidden;
}

.mt5 {
  margin-top: 5em;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}
.vehi {
  border-radius: 10px;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9em;

  color: #ffffff;
  background-color: #16144c;
  border-style: none;
  border-radius: 20px;
  padding: 8px 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin-top: 30px;
}

.btn img {
  width: 20px;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #9e9efc 0%, #16144c 100%);
  transition: 0.2s linear;
  transform: scale(110%);
}

@media screen and (max-width: 900px) {
  .service {
    flex-direction: column;
  }

  .content {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .content {
    width: 100%;
  }
}
