.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.contentBlock {
  width: 95%;
}

.carouselBox {
  width: 80%;
  margin: 50px auto;
}

.block {
  color: #fff;
  background-color: #ab95fd;
  border-radius: 12px;

  text-align: center;
  height: 510px;
}

.carousel {
  width: 80%;
  margin: 0 auto;

  margin-top: 3em;
  margin-bottom: 4em;
}

.block img {
  width: 100%;
  height: auto;
}

.blockInfo {
  padding: 20px;
}

.blockInfo button {
  background-color: #fff;
  color: #ab95fd;
  border-style: none;
  margin-top: 12px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.blockInfo button:hover {
  border: 1px solid #000;
  transform: scaleX(110%);
  transition: 0.2s ease;
}

@media screen and (max-width: 800px) {
  .carouselBox {
    width: 90%;
    margin-top: 80px;
  }
}
