.team {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;

  font-weight: 400;
  background-image: url(./images/teambck1.png), url(./images/teambck2.png);
  background-position: top right, bottom left;
  background-repeat: no-repeat;
}

.teamIntro {
  margin-bottom: 4em;
  margin-top: 1em;
}

.team h1 {
  font-weight: 700;
  font-size: 3em;
}

.textPurple {
  color: #ab95fd;
}

.team p {
  margin-bottom: 15px;
}

.ceo {
  margin-bottom: 3em;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ///// For The Sliding Images ///// */

.teamCarouselContainer {
  overflow: hidden;
}

.teamCarouselTrack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500%;
  margin-bottom: 6em;
  margin-top: 4em;
  gap: 20px;

  animation: slide 40s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.4%);
  }
}

.carouselCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  &:hover {
    transform: scale(1.1);
    transition: 1s;
    z-index: 1000;
    border: 4px solid rgba(171, 149, 253, 0.8);
  }
}

.forInnovation div {
  text-align: center;
  display: block;
  background-color: #ab95fd;
  color: #000;
  padding: 20px;
  border-radius: 35px;
  width: 400px;
  height: 300px;
}

.forInnovation div img {
  width: 40px;
  height: 40px;
}

.forInnovation div h2 {
  font-weight: 700;
  font-size: 1.1em;
}

.forInnovation div p {
  font-size: 0.8em;
}
.teamMember {
  background-color: rgba(171, 149, 253, 0.8);
  color: #fff;
  text-align: left;
  line-height: 1em;
  padding: 10px 30px 10px 10px;
  border-top-right-radius: 5px;

  position: absolute;
  left: 0;
  bottom: 0;
}

.teamMember .socials {
  justify-content: flex-start;
}

@media screen and (max-width: 900px) {
  .teamIntro {
    margin-top: 50px;
  }
}

@media screen and (max-width: 900px) {
  .team h1 {
    font-size: 2.5em;
  }

  .teamIntro,
  .abtTeam {
    width: 90%;
    margin: 0 auto;
  }

  .teamIntro {
    margin-top: 70px;
  }

  .teamCarouselTrack {
    animation: slide 40s linear infinite;
  }

  .teamCarouselTrack {
    width: 700%;
  }

  .carouselCard {
    font-size: 1.2em;
    width: 30%;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-67%);
    }
  }
}

@media screen and (max-width: 560px) {
  .br {
    display: none;
  }

  .team h1 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  .teamCarouselTrack {
    animation: slide 40s linear infinite;
  }

  .teamCarouselTrack {
    width: 1100%;
  }

  .carouselCard {
    font-size: 1.1em;
    width: 30%;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-67%);
    }
  }
}
