.btn {
  font-family: SF Pro Text, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #c4b5fd;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #9e9efc 0%, #a190e1 100%);
  transition: 0.2s linear;
  transform: scale(110%);
}
