.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6em;

  color: #ffffff;
  background-color: #16144c;
  border-style: none;
  border-radius: 5px;
  padding: 10px 25px;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #9e9efc 0%, #16144c 100%);
  transition: 0.2s linear;
  transform: scale(110%);
}
