.header {
  width: 90%;
  margin: 0 auto;
  padding-top: 1.5em;
}

.headerContent {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggler {
  display: none;
}

.mobilenav {
  display: none;
}

@media screen and (max-width: 900px) {
  .mobilenav {
    display: flex;
  }
  .headerContent {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    z-index: 1;
    margin-bottom: 20px;
  }

  .desktopnav {
    display: none;
  }

  .mobile {
    display: none;
    position: absolute;
    left: 0px;
    top: 10px;
  }

  .toggler {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    /* right: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
  }

  .toggler button {
    border-style: none;
    background-color: transparent;
  }
}
