.main {
  text-align: center;
  padding: 60px 0;
  background-color: #fbf6fcca;
  opacity: 0.8;

  background-image: url(../../public/images/leftRibbon.png),
    url(../../public/images/rightRibbon.png);
  background-position: left center, right center;
  background-repeat: no-repeat;

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  height: 520px;
  margin-top: 10px;
}

.main h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
  color: #000;
}

.main h1 span {
  color: #7e68cd;
  font-weight: 800;
}

.main p {
  font-size: 1.1em;
}

.btn {
  background-color: #000;
}

@media screen and (max-width: 1040px) {
  .main {
    padding: 30px 20px;
  }
  .main h1 {
    font-size: 1.8em;
    text-wrap: wrap;
    margin-bottom: 15px;
  }

  .br {
    display: none;
  }
  .main p {
    margin-bottom: 15px;
  }
}
