.main {
  text-align: center;
  padding: 60px 0;
  background-color: #e5e5f7ca;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
  height: 500px;
}

.main h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
}

.main p {
  font-size: 1.1em;
}

.btn {
  background-color: #000;
}
