.services {
  background-image: url("../../public/images/servicesbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container div span {
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-weight: 700;
  font-size: 1.3em;
  box-shadow: 0px 4.09px 4.09px 0px #00000040;
}

.s1 {
  background-image: url("../../public/images/droneService.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.s2 {
  background-image: url("../../public/images/robotService.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.s3 {
  background-image: url("../../public/images/satteliteService.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.s4 {
  background-image: url("../../public/images/internetService.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.s5 {
  background-image: url("../../public/images/securityService.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.container p {
  margin-top: 30px;
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .services {
    height: 600px;
  }
  .container {
    flex-wrap: wrap;
    gap: 80px;
  }
}
