.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.navLinks li {
  list-style: none;
}

.navli {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .navLinks {
    flex-direction: column;
    justify-content: center;
  }
}
